@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {

    
    background-color: #251749;


}
.titulo {
    color:rgb(230, 35, 35);
    font-size: 80px;
    font-family: 'Spicy Rice', cursive;
    margin: 20px;

}

.subtitulo {

   color:rgb(230, 35,35);
   font-size: 34px;
   font-family: 'Poppins', sans-serif;


    
}

#seleccionar-mascota {

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

} 

.tarjetas {
   
    display: flex;
    
    
}


.tarjeta-de-mokepon {

    width: 200px;
    height: 200px;
    background: #6F1AB6;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    color: rgb(230, 35,35);
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Poppins', sans-serif;


}

.tarjeta-de-mokepon img {

    width: 128px;
    height: 102px;

}

input{
    display: none;
    

}


#boton-seleccionar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background-color: greenyellow;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;

}


#seleccionar-ataque {

    
    flex-direction: column;
    align-items: center;
    
}

.botones-ataque {

    background-color: #6F1AB6;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 10px;
    color: rgb(230, 35,35);
}

.mensajes {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: greenyellow;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    width: 280px;
    border-radius: 20px;
    border: 3px solid black;
    margin-top:20px;
    
    

    
}


.informacion-vidas {

    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    

    
}


#boton-reiniciar {

    border: none;
    color:rgb(230, 35, 35);
    font-family: 'Poppins', sans-serif;
    background-color: transparent;


}


#informacion-vidas-enemigo {

    margin-top: 5px;
}